/* Import Font Family */
@import url('../main.css');

.error-404-container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main.error-404-main {
    margin-top: 45px;
    text-align: center;
}

main.error-404-main>h1,
.error-404-container>header>h1 {
    font-weight: 700;
    font-size: 60px;
    line-height: 76px;
}

.error-404-container>header>h1 {
    margin-bottom: 160px;
}

main.error-404-main>p {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.1px;
    max-width: 600px;
    line-height: 25px;
}

main.error-404-main>img {
    width: 85%;
    position: absolute;
    top: 46%;
    left: 0;
}

.btn-error-404 {
    font-weight: 800;
    font-size: 16px;
    padding: 15px 75px;
    background-color: #6CF6FF;
    box-shadow: 0px 4px 20px #A5FFFF;
    border-radius: 100px;
    border: none;
    margin-top: 40px;
    transition: 0.3s;
}

.btn-error-404:hover {
    background-color: #A5FFFF;
    box-shadow: 0px 4px 20px #6CF6FF;
    color: #000;
}

.error-404-container .error-404-number {
    font-weight: 700;
    font-size: 150px;
    line-height: 189px;
    letter-spacing: 0.1px;
}

.error-404-container>header {
    text-align: center;
}