/*! ============= Inbox Container =========== */
.inbox-container {
    display: flex;
    width: 90%;
    margin: 0 auto;
}

/*! Inbox Sidebar Content  */
.inbox-sidebar {
    border-right: 1px solid #E4E4E4;
    padding: 25px 20px 0 0;
}

.inbox-sidebar-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.inbox-sidebar-top h1 {
    font-weight: 700;
    font-size: 32px;
    color: #000000;
}

.add-user {
    width: 33px;
    height: 33px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.2));
    border-radius: 5px;
    border: 1px solid #BABABA;
    padding: 7px;
    transition: all 0.2s ease-in-out;
}

.add-user img {
    transition: all 0.2s ease-in-out;
}

.add-user:hover {
    cursor: pointer;
    background: #BABABA;
}

.add-user:hover img {
    filter: invert(1);
}

/* Sidebar SubMenu */
.inbox-sidebar-submenu {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.inbox-sidebar-submenu input {
    width: 15px;
    height: 15px;
    border: none;
    outline: none;
    border: 1px solid #1FDAFF;
    cursor: pointer;
}

.inbox-sidebar-submenu label {
    font-weight: 700;
    font-size: 17px;
    flex: 1 1 auto;
    cursor: pointer;
}

.inbox-sidebar-submenu img {
    transform: rotate(90deg);
    margin-right: 7px;
    cursor: pointer;
}

/*TODO Sidebar Filter Buttons  */
.inbox-sidebar-filter-btns {
    height: 62px;
    background: #E4FDFF;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 30px;
    margin-bottom: 22px;
}

.inbox-sidebar-filter-btns button {
    z-index: 2;
    cursor: pointer;
    color: #929292;
    font-weight: 700;
    font-size: 17px;
    border: none;
    outline: none;
    background: transparent;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 150px;
}

.inbox-sidebar-filter-btns button.btn-active {
    color: #000000;
}

.inbox-sidebar-filter-btns div.filter-btn-active {
    background: #A6FAFF;
    border-radius: 10px;
    width: 140px;
    height: 52px;
    position: absolute;
    z-index: 1;
    left: 5px;
    transition: all 0.2s ease-in-out;
}

/*! Sidebar Users Container  */
.inbox-sidebar-users {
    overflow-y: auto;
    height: 500px;
}

.inbox-sidebar-users>div {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-right: 5px;
}


/*TODO her bir user  */
.inbox-sidebar-user {
    display: flex;
    align-items: center;
    padding: 30px 30px 30px 20px;
    border: none;
    background: #E4FDFF;
    border-radius: 10px;
    height: 90px;
    transition: background 0.4s ease-in-out;
}

.inbox-sidebar-user:hover {
    cursor: pointer;
    background: #A6FAFF;
}

.inbox-sidebar-user.user-active {
    border: 3px solid #6CF6FF;
}

.inbox-sidebar-user-img {
    margin-right: 30px;
    position: relative;
}

.inbox-sidebar-user-img .user-status {
    position: absolute;
    background: #6CFF72;
    width: 13px;
    height: 13px;
    left: 44px;
    top: 50px;
    border-radius: 50%;
    z-index: 2;
}

.inbox-sidebar-user-info {
    flex: 1 1 auto;
}

.inbox-sidebar-user-info h3 {
    font-weight: 700;
    font-size: 17px;
    color: #000000;
}

.inbox-sidebar-user-info span {
    font-weight: 500;
    font-size: 13px;
    color: #9C9C9C;
}

.inbox-sidebar-user-info p {
    font-weight: 500;
    font-size: 15px;
    color: #000000;
}

/*? User message count style */
.inbox-sidebar-user-count {
    width: 28px;
    height: 28px;
    background: #FFFFFF;
    border-radius: 50%;
    padding-top: 5px;
    padding-left: 10px;
}

.inbox-sidebar-user-count p {
    font-weight: 700;
    font-size: 14px;
    color: #000000;
}

/*! ============= User Search bar =========== */
.user-search-bar {
    margin-top: 20px;
    margin-bottom: 40px;
    background: #F3FEFF;
    border: 1px solid #6CF6FF;
    border-radius: 4px;
    display: flex;
    align-items: center;
    height: 40px;
    padding: 8px 12px;
    gap: 15px;
}

.user-search-bar:hover {
    border: 1px solid #09e8f8;
    box-shadow: 0px 0px 5px 0px #6CF6FF;
}

.user-search-bar input {
    background: transparent;
    border: none;
    outline: none;
    font-weight: 700;
    font-size: 14px;
    color: #C5C5C5;
    width: 100%;
}

.user-search-bar img {
    width: 19px;
    height: 19px;
    opacity: 0.3;
}

/* Inbox Chat Form */
.inbox-chat-form {
    width: 100%;
}

.inbox-header-user-info {
    background: white;
    display: flex;
    align-items: center;
    padding: 20px 0px 20px 20px;
    border: none;
    border-radius: 10px;
    height: 90px;
    transition: background 0.4s ease-in-out;
}

.inbox-header-user-info:hover {
    cursor: pointer;
    background: white
}

/*! ============== Inbox Chat Container =============  */
.inbox-chat-container {
    background: #F4F4F4;
    border: 1px solid #DEDEDE;
    width: 100%;
}

/*TODO Message Content Styles */
.message-content {
    height: 500px;
    overflow-y: scroll;
    padding: 25px 30px 15px 30px;
}

.chat-date p {
    font-weight: 800;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0.1px;
    color: #939393;
    margin-bottom: 40px;
    text-align: center;
}

/* Host messages styles */
.host-msg>p,
.msg-document {
    width: max-content;
    max-width: 50%;
    min-height: 50px;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.1px;
    color: #000000;
    background: #E9E9E9;
    border-radius: 20px 20px 20px 0px;
    padding: 10px 10px 11px 15px;
}

.host-msg>span {
    display: inline-block;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.1px;
    margin-top: 5px;
    margin-bottom: 22px;
    margin-left: 30px;
    color: #939393;
}

.host-msg .msg-document {
    display: flex;
    align-items: center;
    gap: 15px;
    cursor: pointer;
}

.msg-document .document-content h3 {
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.1px;
    color: #009DA7;
}

.msg-document .document-content p {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.1px;
    color: #898989;
}

.document-img {
    width: 32px;
    height: 38px;
    object-fit: cover;
}


/* User messages style: */
.user-msg {
    margin-left: auto;
    width: max-content;
    max-width: 50%;
    margin-bottom: 22px;
}

.user-msg>p {
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.1px;
    color: #000000;
    background: #FFFFFF;
    border-radius: 20px 20px 0px 20px;
    padding: 10px 10px 12px 15px;
}

.user-msg>span {
    display: inline-block;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.1px;
    margin-top: 5px;
    margin-bottom: 22px;
    margin-left: 30px;
    color: #939393;
}

.user-msg-image {
    background: #FFFFFF;
    border-radius: 20px 20px 0px 20px;
    padding-bottom: 10px;
}

.user-msg-image img {
    width: 100%;
    object-fit: cover;
}

.user-msg-image p {
    margin-top: 8px;
    margin-left: 48px;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.1px;
    color: #898989;
}

/*! Message write content style */
.message-write {
    display: flex;
    align-items: center;
    border-top: 1px solid #C6C6C6;
    margin: 0 30px;
    height: 80px;
}

.message-write .message-input {
    flex: 1 1 auto;
}

.message-input input {
    width: 100%;
    font-weight: 700;
    font-size: 20px;
    color: #A2A2A2;
    letter-spacing: 0.1px;
    background: transparent;
    border: none;
    outline: none;
    padding: 0 20px 0 0;
}

.message-send {
    display: flex;
    gap: 10px;
}

.message-send div {
    width: 60px;
    height: 60px;
    cursor: pointer;
    border-radius: 20px;
}

.message-send div img {
    width: 24px;
    height: 24px;
}

/* Message send into first div: */
.message-send div.select-image {
    background: #E9E9E9;
    padding: 18px;
    transition: all 0.2s ease-in-out;
}

.message-send div.select-image:hover {
    background: #C4C4C4;
}

.message-send div.select-image img {
    opacity: 0.5;
    transition: all 0.2s ease-in-out;
}

.message-send div.select-image:hover img {
    opacity: 1;
}

/* Message send into second div: */
.message-send div.select-document {
    background: #E9E9E9;
    padding: 18px;
    transition: all 0.2s ease-in-out;
}

.message-send div.select-document:hover {
    background: #C4C4C4;
}

.message-send div.select-document img {
    opacity: 0.5;
    transition: all 0.2s ease-in-out;
}

.message-send div.select-document:hover img {
    opacity: 1;
}

/* Message send into third div: */
.message-send div.send-message {
    background: #45E8F2;
    padding: 18px;
    transition: all 0.2s ease-in-out;
}

.message-send div.send-message:hover {
    background: #2AC7D9;
}

/*TODO SOHBET  */
.contact-message {
    position: fixed;
    bottom: 0;
    right: 100px;
    z-index: 3;
    height: 46px;
    transition: height 0.3s ease-in-out;
    background: #F9FEFF;
}

.contact-message-select {
    width: 280px;
    height: 46px;
    background: #E2E8E9;
    display: flex;
    cursor: pointer;
    align-items: center;
    gap: 8px;
    padding: 10px 17px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
}

.contact-message-select p {
    font-weight: 800;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.1px;
    color: #000000;
    text-transform: uppercase;
    flex: 1 1 auto;
}

.contact-message-select img:nth-child(3) {
    margin-right: 15px;
    transform: rotate(90deg);
    transition: all 0.2s ease-in-out;
}

.contact-message-options {
    display: none;
}

/*! Contact Message Select active oldukda:  */
.contact-message.contact-active {
    height: 350px;
}

.contact-message-select.active img:nth-child(3) {
    transform: rotate(0deg);
}

.contact-message.contact-active .contact-message-options {
    display: block;
    height: calc(100% - 46px);
}

/* .message-option-online-users */
.contact-message-options {
    overflow-y: auto;
}

/*! User Chat active oldukda  */
.contact-message-options .user-chat.active {
    background: #E3FAFF;
}

.status-online {
    background: #6CFF72;
    border-radius: 50%;
    display: inline-block;
}

.status-offline {
    background: #9B9B9B;
    border-radius: 50%;
    display: inline-block;
}

.online-user,
.online-user-title,
.offline-user,
.offline-user-title {
    display: flex;
    align-items: center;
    gap: 13px;
    height: 46px;
    padding: 13px 20px;
}

.message-option-online-users div:hover,
.message-option-offline-users div:hover {
    background: #E3FAFF;
    cursor: pointer;
}

.online-user-title .status-online,
.offline-user-title .status-offline {
    width: 13px;
    height: 13px;
}

.online-user .status-online,
.offline-user .status-offline {
    width: 10px;
    height: 10px;
}

.offline-user-title,
.online-user-title {
    background: #E3FAFF;
}

.online-user-title :where(h3, p),
.offline-user-title :where(h3, p) {
    font-weight: 800;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.1px;
    color: #000000;
    text-transform: uppercase;
}

.online-user-name,
.offline-user-name {
    font-size: 14px;
}


/* User Chat Message Content */
.contact-user-chat {
    width: 0px;
    height: 0px;
    background: white;
    position: fixed;
    bottom: 0;
    right: 380px;
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
    pointer-events: none;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
}

.contact-user-chat.user-chat-active {
    width: 300px;
    height: 350px;
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease-in-out;
    pointer-events: all;
    bottom: 0;
}


.contact-user-chat .user-chat-header {
    background: #E3FAFF;
}

.user-chat-header img {
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.user-chat-header p {
    flex: 1 1 auto;
}

.user-chat-messages {
    height: calc(100% - 100px);
    overflow-y: auto;
    background-color: white;
}

.user-chat-messages li {
    padding: 2px 10px;
}

.user-chat-messages li span {
    margin-left: 5px;
}

.user-chat-messages li strong {
    font-weight: 800;
    font-size: 18px;
    color: #009DA7;
}

.user-chat-messages li strong:after {
    content: " : ";
}

.user-message-document {
    color: #2AC7D9;
}

.user-message-document img {
    width: 14px;
    height: 14px;
    transform: rotate(270deg);
}

.user-chat-send-group {
    display: flex;
    align-items: center;
    padding: 5px 10px;
}

.user-chat-send-group textarea {
    flex: 1 1 auto;
    border: none;
    outline: none;
    padding: 5px;
    resize: none;
    overflow: hidden;
}

.send-image-group img {
    width: 20px;
    height: 20px;
    margin-left: 5px;
}

.send-image-group a:nth-child(1) img {
    transform: rotate(270deg);
}

/*! Inbox Message Section == Container , Scrollbar Style */
.message-content::-webkit-scrollbar-track,
.inbox-sidebar-users::-webkit-scrollbar-track,
.user-chat-messages::-webkit-scrollbar-track,
.contact-message-options::-webkit-scrollbar-track {
    background-color: #B1E9F4;
}

.message-content::-webkit-scrollbar,
.inbox-sidebar-users::-webkit-scrollbar,
.user-chat-messages::-webkit-scrollbar,
.contact-message-options::-webkit-scrollbar {
    width: 8px;
    background-color: #2CD8FB;
}

.message-content::-webkit-scrollbar-thumb,
.inbox-sidebar-users::-webkit-scrollbar-thumb,
.user-chat-messages::-webkit-scrollbar-thumb,
.contact-message-options::-webkit-scrollbar-thumb {
    border-radius: 100px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #2CD8FB;
}

/*TODO Responsive Design Styles */
@media (max-width: 1200px) {
    .inbox-container {
        width: 97%;
    }
}