@import url(../main.css);

.tab-container {
    width: 100%;
    min-height: 100vh;
    padding: 20px;
    
}

*{
    box-sizing: border-box;
}

.info-box {
    width: 100%;
    background: #F9FEFF;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.08);
    border-radius: 0px 0px 15px 15px;
    border-top: 3px solid #C3F5FF;
    padding: 7px 30px;
}

.info-box-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
    cursor: pointer;
}

.info-box-header>div {
    display: flex;
    align-items: center;
}

.info-box-header>div>img {
    margin-right: 10px;
}

.iinfo-box-header>div>span {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.01em;
    color: #5E5E5E;
}

.info-box-header>img {
    transform: rotate(180deg);
    transition: all ease-in-out 0.5s;
}

.info-box-body {
    background: #F9FEFF;
    border-top: 1px solid #E2E2E2;
    padding: 20px 70px;
    margin: 0px -30px;
    display: none;
}

.dropdown-box-active~.info-box-body {
    animation: dropDownBox 0.5s ease-in-out;
    display: block;
}

.dropdown-box-active~.info-box-header>img {
    transform: rotate(0deg);
}

@keyframes dropDownBox {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}


.info-box-content {
    margin-top: 50px;
}

/* ! Top Nav */
.top-nav>ul {
    display: flex;
}

.top-nav>ul>li {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.01em;
    padding: 10px 40px;
    background: #C0F5FF;
    border: 1px solid #69E6FF;
    margin-right: 4px;
    cursor: pointer;
    transition: all ease-in-out 0.3s;
}

.top-nav>ul>li>a {
    color: #5E5E5E;
}

.top-nav>ul>li.list-active,
.top-nav>ul>li:hover {
    background: #EDFCFF;
    color: #fff;
}

.top-nav>ul>li.list-active>a,
.top-nav>ul>li:hover>a {
    color: black;
    font-weight: 700;
}

/* ! Notification */
.notification-box {
    border: 1px solid #E0E0E0;
    border-bottom: 0;
}

.notification-box-header {
    background: #EDFCFF;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.03);
    padding: 15px;
    cursor: pointer;

}

.notification-box-header>img {
    margin-right: 10px;
    transform: rotate(180deg);
    transition: all ease-in-out 0.5s;
}

.dropdown-box-active~.notification-box-header>img {
    transform: rotate(0deg);
}

.dropdown-box-active~.notification-box-body {
    animation: dropDownBox 0.5s ease-in-out;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.notification-box-body {
    display: none;
    animation: dropDownBox 0.5s ease-in-out;
}

/* ! Notifications */
.notification-box-body {}

.notifications {
    border: 1px solid #DDDDDD;
}

.notifications>h2 {
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.03);
    padding: 10px 20px;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0.1px;
}

.notification-detail>div {
    display: grid;
    grid-template-columns: 1fr 3fr;
    border-bottom: 1px solid #E6E6E6;
}

.notification-detail-name {
    text-align: end;
    margin-top: auto;
    margin-bottom: auto;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.1px;
}

.notification-detail>div>div {
    padding: 15px;
}

.notification-detail-input {
    border-left: 1px solid #E6E6E6;

}

.notification-detail-input>input:not([type=checkbox]),
.notification-detail-input>select,
.notification-detail-input>textarea,
.multiple-box-name-input>input,
.multiple-box-name-input>select,
.multiple-box-name-input>textarea {
    border: 1px solid #9AEEFF;
    border-radius: 5px;
    padding: 10px 20px;
    width: 100%;
    transition: all ease-in-out 0.3s;
    margin-bottom: 10px;
}

.notification-detail-input>input:is(:focus, :hover),
.notification-detail-input>select:is(:focus, :hover),
.notification-detail-input>textarea:is(:focus, :hover),
table input:not([type=radio]):not([type=radio]):is(:focus, :hover),
.multiple-box-name-input>input:is(:focus, :hover),
.multiple-box-name-input>select:is(:focus, :hover),
.multiple-box-name-input>textarea:is(:focus, :hover) {
    outline: none;
    border: 1px solid #69E6FF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

}

textarea {
    resize: none;
}

.notification-detail-input>div {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.notification-detail-input>div>* {
    margin-right: 10px;
}

.notification-detail-input>input {
    margin-right: 7px;
}

/* ! Custom CheckBox */

.check-box {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.check-box>input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: -5px;
    left: 0;
    height: 25px;
    width: 25px;
    border: 1px solid #86CEE2;
    border-radius: 5px;
}

.check-box:hover input~.checkmark {
    background-color: #ccc;
}

.check-box input:checked~.checkmark {
    background-color: #009DBA;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.check-box input:checked~.checkmark:after {
    display: block;
}

.check-box .checkmark:after {
    left: 8px;
    top: 4px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


/* ---------------------------------------- */

.uploade-file-box {
    display: flex;
    align-items: center;
}

.uploade-file-box>.uploade-file {
    padding: 10px 10px 10px 20px;
    border: 1px solid #9AEEFF;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
    transition: all ease-in-out 0.2s;
}

.uploade-file-box>.uploade-file:hover {
    border: 1px solid #69E6FF;
    box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.1);
}

.uploade-file-box>.uploade-file>img {
    margin-left: 20px;
    margin-right: 0;
}

.uploade-file-box>span {
    color: #848484;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.1px;
}

/* ! product-container */

.product-container {
    display: block !important;
    border-radius: 5px;
    border: 1px solid #9AEEFF;
    padding: 10px 20px;
}

.product-container>div,
.groups-container>div {
    display: flex !important;
    align-items: center;
    min-height: 30px;
}

.product-container>h3 {
    color: #000;
    font-size: 16px;
    letter-spacing: 0.1px;
    margin-bottom: 15px;
    margin-top: 20px;
}

.product-container>h3:first-child {
    margin-top: 0;
}

.product-container>div>span,
.groups-container>div>span {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.1px;
}

/* ! education-status */
.education-status>h3 {
    padding: 10px 40px;
    background: #A6F0FF;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.03);
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.1px;
}

.education-status>table {
    width: 100%;
    border-collapse: collapse;
}

.education-status>table>thead {
    background: #E7FBFF;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.03);

}

.education-status>table>thead>tr>th {
    padding: 10px;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 0.1px;
    text-align: start;
}

.education-status>table>thead>tr>th:first-child {
    text-align: center;
}


.education-status>table>tbody>tr>td {
    padding: 10px;

}

.education-status .img-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 70px;
    margin-right: 19px;
}

.education-status .img-box>img {
    margin-right: 10px;
    width: 24px;
    cursor: pointer;
}

.education-status .menu-select {
    display: flex;
    align-items: center;
    border-radius: 5px;
    border: 1px solid #9AEEFF;
    padding: 10px 15px;
    font-size: 14px;
    font-weight: 800;
}

.education-status tbody td>input {
    border-radius: 5px;
    border: 1px solid #9AEEFF;
    padding: 10px 15px;
    font-size: 14px;
    font-weight: 800;
    max-width: 200px;
}

.display-flex {
    display: flex;
    align-items: center;
}

.education-status .notification-detail>div>.notification-detail-input {
    flex-direction: column;
    align-items: flex-start;
}

.education-status .notification-detail>div>.notification-detail-input>div {
    margin-bottom: 10px;
}

.education-status .notification-detail {
    border-top: 1px solid #E6E6E6;
}

/* ! Cusotom RadiBox */

.radio-container {
    display: block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 12px;
    font-size: 13px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.radio-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.radio-container .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border-color: #86CEE2;
}

/* On mouse-over, add a grey background color */
.radio-container:hover input~.checkmark {
    /* background-color: #ccc; */
    border-color: #C2C7D0;
}

/* When the radio button is checked, add a blue background */
.radio-container input:checked~.checkmark {
    background-color: white;
    border-color: #C2C7D0;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.radio-container .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio-container input:checked~.checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.radio-container .checkmark:after {
    top: 2px;
    left: 2px;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background: #86CEE2;
}

.input-disabled {
    cursor: no-drop;
    background-color: #F1F1F1;
}

/* ----------------------------------- */
.notifcations-tool-box {
    height: 240px;
    border-radius: 5px;
    border: 1px solid #9AEEFF;
    display: block !important;
}

.notifcations-tool-box>img {
    margin-right: 0 !important;
    width: 100%;
}

.input-popup {
    border-radius: 5px;
    border: 1px solid #9AEEFF;
    background: #E1FFFF;
}

.popup-input-box {
    position: relative;
}



.popup-input-box>img {
    position: absolute;
    top: 32%;
    right: 25px;
    width: 20px;
}

/* ! notification-footer */
.notification-footer {
    display: flex;
    border: 1px solid #E0E0E0;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.03);
    margin-top: 30px;
}

.notification-footer>p {
    width: 50%;
    padding: 10px;
}

.add-new-button {
    padding: 20px 10px;
}

.add-new-button>button {
    border-radius: 4px;
    background: linear-gradient(180deg, #267585 0%, #16ACCA 100%);
    padding: 13px 15px;
    display: flex;
    align-items: center;
    color: #FFF;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.1px;
    border: none;
    transition: all ease 0.2s;

}

.add-new-button>button>img {
    margin-left: 15px;
}

.add-new-button>button:hover {
    background: linear-gradient(180deg, #16ACCA 0%, #267585 100%);
}

/*  ! multiple-container */
.multiple-container {
    border: 1px solid #00ACCE;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.03);
}

.multiple-container>h2 {
    background: #00ACCE;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.03);
    font-size: 16px;
    color: white;
    font-weight: 700;
    letter-spacing: 0.1px;
    padding: 10px 40px;
    text-transform: uppercase;
}

.multiple-box>div {
    display: grid;
    grid-template-columns: 1fr 6fr;
    padding-right: 20px;
}

.multiple-box-name {
    border-right: 1px solid #E6E6E6;
    border-bottom: 1px solid #E6E6E6;
}

.multiple-box-name>h3 {
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.1px;
    text-align: right;
    padding: 30px 0;
    padding-right: 20px;
}

.multiple-box-name-input {
    padding-left: 20px;
    border-bottom: 1px solid #E6E6E6;
    padding-bottom: 5px;
    display: flex;
    align-items: flex-end;
    position: relative;
}

.multiple-box-name-input>img {
    position: absolute;
    right: 10px;
    top: 44%;
}

.multiple-box-name-input>textarea {
    height: 115px;
}

/* ! Detail Table */
.detail-table {
    border: 1px solid #00ACCE;
    border-bottom: 6px solid #D9F9FF;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.03);
    margin-top: 30px;
}

.detail-table>table {
    width: 100%;
    border-collapse: collapse;

}

.detail-table>table td {
    text-align: center;
}

.detail-table>table thead {
    background: #EDFCFF;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.03);

}

.detail-table>table th {
    padding: 20px 0;
    font-size: 16px;
    font-weight: 700;
}

.detail-table>table td {
    padding: 15px 0;
    border-bottom: 1px solid #E6E6E6;
    font-size: 16px;
    font-weight: 500;
}

.detail-table>table>tbody tr:hover {
    background: #F5F5F5;
    cursor: pointer;
}

/* !footer-container */
.footer-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border: 1px solid #00ACCE;
    padding: 20px;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.03);
    margin: 15px 0;
}

.white-container {
    background: #F8F7F7;
}

.blue-container {
    background: #E6EDEE;
}

.footer-container>button {
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.1px;
    display: flex;
    align-items: center;
    padding: 10px 16px;
    border-radius: 4px;
    transition: all ease-in-out 0.3s;
}

.footer-container>button>img {
    margin-left: 15px;
}

.footer-container>button:first-child {
    border: 1px solid #D8D8D8;
    background: #F2F2F2;
    margin-right: 6px;
}

.white-container>button:last-child {
    border: 1px solid #D8D8D8;
    background: #FFA7A7;
}

.blue-container>button:last-child {
    border: 1px solid transparent;
    background: transparent;
}

.blue-container>button:last-child:hover {
    border: 1px solid #D8D8D8;
    background: #ee7a7a;
}

.white-container>button:last-child:hover{
    background: #eb6969;
}


.footer-container>button:first-child:hover{
    background: #ffffff;
}
