@import url("../form.css");
@import url("../main.css");


.help-container {
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(233, 232, 232, 0.71) 100%);
    border: 1px solid #FFFFFF;
    backdrop-filter: blur(10px);
    width: 50%;
    min-height: 100vh;
    border-bottom: 10px solid #C3F5FF;

}

.help-container>header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.03);
    padding: 35px 50px;
    border-bottom: 3px solid #C3F5FF;

}

.modal-box {
    display: none;
}

/* ! Help Nav */
.help-nav-list {
    padding-left: 50px;
    margin-top: 20px;
    margin-bottom: 80px;
}

.help-nav-list ul {
    display: flex;
    align-items: center;
}

.help-nav-list li {
    display: flex;
    align-items: center;
    margin-right: 20px;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0.1px;
    cursor: pointer;
    opacity: 0.5;
}

.help-nav-list li:hover {
    opacity: 1;
}

.help-nav-list li>img {
    margin-right: 10px;
}

.help-content {
    padding: 0 50px;
}

.help-content h2 {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.1px;
    margin-bottom: 30px;
}

.help-content h2>img {
    margin-right: 10px;
}

/* ! Collapsible Group */
.collapsible-group {
    padding-bottom: 20px;
    border-bottom: 1px solid #C9C9C9;
}

.collapsible-group li {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.collapsible-group li>a {
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0.1px;
    transition: all ease-in 0.3s;
}

.collapsible-group li>img {
    width: 30px;
    margin-right: 6px;
}

.collapsible-group li>a:hover {
    color: #00A3FF;
}


/* ! Additional Page */

.additional-page {
    padding: 50px 0;
}

.additional-page div ul>li {
    font-weight: 500;
    font-size: 24px;
    line-height: 44px;
    letter-spacing: 0.1px;
    display: flex;
    align-items: center;
}

.additional-page div ul>li>img {
    margin-right: 10px;
}